/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
app/Channels/
app/WebhookNotifiable.php
note.php
public/mix-manifest.json
public/web.config
composer.lock
*.local.php
*.bak
*-bak
